<footer id="footer" class="footer mx-auto text-white text-center" style="background:{{ page.color }}">
    <div class="container-fluid justify-between">
        <div class="row">
            <div class="col-lg-3 col-sm-6 p-2">
                &copy; {{ "now"|date("Y")}} Bien-Être & Qi-Gong
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://www.wildcodeschool.com/fr-FR" target="_blank"class="nav-link text-white">Fait avec ❤️ par&nbspla Wild</a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="/mentions-legales" class="nav-link text-white">Mentions Légales</a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="/crédits" class="nav-link text-white">Credits</a>
            </div>
        </div>
    </div>
</footer>
