{{ form_start(form) }}
    <div class="d-none">
        {{ form_row(form.createdAt) }}
    </div>
{{ form_rest(form) }}

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary text-font-colour">Valider</button>
    </div>
{{ form_end(form) }}
